main {
  margin-top: 60px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

.group-l {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group-s {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  margin-bottom: 5px;
}

.text {
  padding: 5px;
}

.img-flex {
  height: 400px;
  width: auto;
}

.big-img {
  width: 100%;
}

.brown {
  background-color: #5c4f41;
}

.collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.collage img {
  width: 45%;
  margin: 5px;
}

@media all and (min-width: 800px) {
  .group-l {
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    overflow: hidden;
  }
  .group-s {
    flex-direction: column;
    width: 32%;
  }
  .group-l .text {
    flex-direction: column;
    font-size: 1.2rem;
  }
  .big-img {
    height: 95%;
    width: 65%;
  }
  .img-flex {
    height: auto;
    width: auto;
  }
  .collage {
    flex-wrap: nowrap;
  }
  .collage img {
    width: 22%;
  }
}